@{
    ViewBag.Title = "Home Page";
}




<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, materialpro admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, materialpro admin lite design, materialpro admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Material Pro Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">

    <!-- chartist CSS -->
    <link href="~/Content/Dashboard/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">


    <link href="~/Content/Dashboard/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="~/Content/Dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="~/Content/Dashboard/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Dashboard/html/css/style.min.css" rel="stylesheet">

</head>

<body>

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap align-items-center">
                                <div>
                                    <h3 class="card-title">Sales Overview</h3>
                                    <h6 class="card-subtitle">Ample Admin Vs Pixel Admin</h6>
                                </div>
                                <div class="ms-lg-auto mx-sm-auto mx-lg-0">
                                    <ul class="list-inline d-flex">
                                        <li class="me-4">
                                            <h6 class="text-success">
                                                <i class="fa fa-circle font-10 me-2 "></i>Ample
                                            </h6>
                                        </li>
                                        <li>
                                            <h6 class="text-info">
                                                <i class="fa fa-circle font-10 me-2"></i>Pixel
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 360px;">
                                <div class="chartist-tooltip"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Our Visitors </h3>
                    <h6 class="card-subtitle">Different Devices Used to Visit</h6>
                    <div id="visitor"
                         style="height: 290px; width: 100%; max-height: 290px; position: relative;"
                         class="c3">
                        <div class="c3-tooltip-container"
                             style="position: absolute; pointer-events: none; display: none;">
                        </div>
                    </div>
                </div>
                <div>
                    <hr class="mt-0 mb-0">
                </div>
                <div class="card-body text-center ">
                    <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                        <li class="me-4">
                            <h6 class="text-info"><i class="fa fa-circle font-10 me-2 "></i>Mobile</h6>
                        </li>
                        <li class="me-4">
                            <h6 class=" text-primary"><i class="fa fa-circle font-10 me-2"></i>Desktop</h6>
                        </li>
                        <li class="me-4">
                            <h6 class=" text-success"><i class="fa fa-circle font-10 me-2"></i>Tablet</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->

    <script src="~/Content/Dashboard/assets/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/Dashboard/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="~/Content/Dashboard/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/Dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/Content/Dashboard/assets/plugins/d3/d3.min.js"></script>
    <script src="~/Content/Dashboard/assets/plugins/c3-master/c3.min.js"></script>
    <!--Custom JavaScript -->

    <script src="~/Content/Dashboard/html/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/Content/Dashboard/html/js/custom.js"></script>

</body>

</html>